<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ahorcado" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ahorcado</name>
    <description>
        Un sencillo juego del ahorcado
    </description>
    <author email="hola@raulseoane.eu" href="https://raulseoane.eu">
        Raúl Seoane Basoa
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
</widget>
